@model IEnumerable<SuperERP.Vendas.DTO.OrdemServicoDTO>

@{
    ViewBag.Title = "Ordem de Servico";
}

<h2>Todas as Ordens de Servico</h2>

<p>
    <a href="/OrdemServico/CadastrarNovaOrdem" title="Cadastrar" class="btn btn-success">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Cadastrar
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Os)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataI_Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataI_Entrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipamento_Recebido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_Os)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataI_Inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataI_Entrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipamento_Recebido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servico)
        </td>
        <td>
            
            <a href="/OrdemServico/EditarOrdemServico/@item.ID" title="Editar" class="btn btn-info">
            <span class="glyphicon glyphicon-pencil"></span> </a>
            <a href="/OrdemServico/DetalheOrdem/@item.ID" title="Detalhes" class="btn btn-info">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </td>
    </tr>
}

</table>
