@model SuperERP.Vendas.DTO.ServicoDTO

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ServicoDTO</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Empresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_Empresa)
                @Html.ValidationMessageFor(model => model.ID_Empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Categoria_Servico, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_Categoria_Servico)
                @Html.ValidationMessageFor(model => model.ID_Categoria_Servico)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ISS)
                @Html.ValidationMessageFor(model => model.ISS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ICMS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ICMS)
                @Html.ValidationMessageFor(model => model.ICMS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IVA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IVA)
                @Html.ValidationMessageFor(model => model.IVA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ST, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ST)
                @Html.ValidationMessageFor(model => model.ST)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PIS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PIS)
                @Html.ValidationMessageFor(model => model.PIS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COFINS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COFINS)
                @Html.ValidationMessageFor(model => model.COFINS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.valor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.valor)
                @Html.ValidationMessageFor(model => model.valor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.custo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.custo)
                @Html.ValidationMessageFor(model => model.custo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
